* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
  
  html {
    font-family: var(--primary-font);
    font-size: var(--rem);
    line-height: var(--line-height);
    color: var(--dark-gray);
    background: var(--white);
    cursor: default;
  }
  
  img {
    max-width: 100%;
    display: block;
    border-radius: var(--radius);
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: 100ms color ease-in-out;
    background-image: linear-gradient(var(--link-gray) 75%, var(--link-gray) 0px);
    background-position: 0px 95%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
  }

  main {
    max-width: var(--width);
    margin: 2rem auto 6rem;
  }


  a:hover {
    color: var(--gray);
  }

  :target {
    color: var(--black);
    animation-name: blink;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: 6;
  }

  @keyframes blink {
    from {
      color: var(--black);
      text-shadow: 0;
    }
    to {
      color: var(--pink);
      text-shadow: 0 0 1rem var(--transparent-pink);
    }
  }

  button {
    line-height: 1;
    cursor: pointer;
  }

  button {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    font-size: inherit;
    color: inherit;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background: #000;
    border: 0;
    color: var(--white);
  }

  .top-nav a:hover {
    color: var(--black);
  }

/* Top navigation bar */
.top-nav {
    max-width: var(--big-width);
    margin: auto;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-bold-weight);
    font-size: var(--small);
  }
  
  .mobile-nav {
    display: none;
  }
  
  /* Navigation list */
  .top-nav ul {
    list-style: none;
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
  }
  
  .top-nav li {
    display: block;
    padding: 0;
  }
  
  .top-nav a {
    color: var(--gray);
    background: none;
    text-decoration: none;
    padding: 1rem 0;
    margin-right: 1rem;
    display: block;
  }
  
  .top-nav a:hover {
    color: var(--black);
  }
  
 
  
  .bottom-nav {
    max-width: var(--big-width);
    margin: auto;
    border-top: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-bold-weight);
    font-size: var(--small);
  }

  .bottom-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-left: 1.5rem; */
    align-items: center;
    width: -webkit-fill-available;
  }

  .bottom-nav li {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    /* margin-top: 0.5rem; */
  }

  .bottom-nav li:first-child {
      margin-top: 0.5rem;
  }

  .bottom-nav a {
    color: var(--gray);
    background: none;
    text-decoration: none;
    padding: 1rem 0;
    /* margin-right: 1rem; */
    display: block;
  }

  .bottom-nav a:hover {
    color: var(--black);
  }
  

/* header of article */

header {
    margin: 4rem 0;
  }
  
  /* Change elsewhere */
  @media (max-width: 650px) {
    header {
      margin: 3rem 0;
    }
  }
  
  header h1 {
    margin: calc(var(--tiny) * 0.5) 0;
  }
  
  header .description {
    color: var(--pink);
    font-size: var(--tiny);
    font-family: var(--secondary-font);
  }
  
  header .description a {
    background: none;
  }
  
  header .description a:hover {
    color: var(--black);
  }
  
  time {
    font-weight: 500;
    color: var(--gray);
  }
  


@media (min-width: 480px) {

}

@media (min-width: 800px) {

}

@media (min-width: 110px) {

}