<footer>
    <nav class="bottom-nav">
        <ul>
            <li>Johannes Leussler 2020</li>
            <li><a href="https://github.com/jleumz" target="_blank" rel="noopener noreferrer"><img
                        src="/img/logos/github/PNG/GitHub-Mark-32px.png"></a></li>
        </ul>
    </nav>
</footer>

<!-- footer belongs in article tag ob website. -->