<nav class="top-nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li> <button id="test-button-1" onclick="clickButton()">Test Button</button></li>
    </ul>
</nav>

<!-- just put function in liquid table to trigger js  -->
<script>
    const button = document.getElementById("test-button-1");

    function clickButton() {
        console.log("Button clicked!");
    }
</script>