<!DOCTYPE html>
<html lang="en">

  <head>
    <title>dev</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
    <script async defer data-website-id="67f4abfc-bff4-41d3-be40-b710fe95a8ab" src="http://localhost:3000/umami.js"></script>
  </head>

  <body>
    {% include nav.liquid %}
    <main>
        <h1>Portfolio</h1>
    </main>   
    {% include footer.liquid %}
  </body>

</html>